#### For Loop

In [17]:
#range(end) ==> range(start,end-1)
#range(start,end) ==> range(start,end-1)
#range(start,end,jump) ==> range(start,end-1,jump)

In [19]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [20]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [25]:
for i in range(1,10):
    if i % 2 == 0:
        print(i,end=" ")

2 4 6 8

In [26]:
for i in range(1,10):
    if i % 2 != 0:
        print(i,end=" ")

1 3 5 7 9

In [28]:
for i in range(10,0,-1):
        print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [31]:
for i in range(10,0):
        print(i,end=" ")

In [33]:
n = 4

for i in range(4):
    print(i**2)

0
1
4
9

In [35]:
# Continue and break

for i in range(10):
    if i == 3:
        continue
    print(i,end=" ")

0 1 2 4 5 6 7 8 9

In [36]:
for i in range(10):
    if i == 3:
        break
    print(i,end=" ")

0 1 2

In [42]:
x = [30,1,2]
total = 0
for i in x:
    total = total + i
print(total)

33

In [44]:
# Print:
# # # #

for i in range(4):
    print("#", end=" ")

# # # #

In [45]:
# # # #
# # # #
# # # #
# # # #

for i in range(4):
    print("#", end=" ")
print()
for i in range(4):
    print("#", end=" ")
print()
for i in range(4):
    print("#", end=" ")
print()
for i in range(4):
    print("#", end=" ")
print()

# # # #
# # # #
# # # #
# # # #

In [50]:
for i in range(4):
    for j in range(4):
        print("#", end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [62]:
T = int(input())
count = 0
for i in range(1,T+1):
    n = int(input())
    n//=10
    count += 1
    print(count)

1
36
1

In [90]:
T = int(input())

for i in range(1,T+1):
    count = 0
    N = int(input())
    if N ==0:
        count = 1
    while N > 0:
        count += 1
        N//=10
    print(count)

2
33
2
369
3

In [100]:
T = int(input())
for i in range(T):
    sum = 0
    num = int(input())
    if num ==0:
        count = 0
    while num >0:
        digit = int(num%10)
        sum += digit
        num = num/10
    print(sum)

2
33
6
69
15

In [101]:
for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [102]:
x = 2
for i in range(0, 4):
    if x%2:
       x = x*2
    else:
       x = x+1

In [104]:
#Block A
print((10//2)+1,"A")

#Block B
c=0
for i in range(0, 10):
    if i%2:
        c=c+1
print(c,"B")

#Block C
c=0
for i in range(0, 10):
    if i%2==0:
        c=c+1
print(c,"C")

#Block D
c=0
for i in range(0, 11):
    if i%2==0:
        c=c+1
print(c,"D")

6 A
5 B
5 C
6 D

In [105]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end=" ")
    print("c")

a  a  c

In [106]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0