### Python Introduction

1. Python is a case sensitive language

##### 1. Primitive DataTypes
##### 2. Variables
##### 3. TypeCasting
##### 4. Print
##### 5. Input

###### 1. Primitive DataTypes

1. Integers
2. Strings
3. Bool
4. None
5. Float

In [4]:
# INTEGER: You can use an integer represent numeric data and more specifically whole numbers from negative infinity to infinity, like 4,5, or -1

print(type(3))
print(type(-3))
print(type(+3))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
# FLOAT: Floating point number, You can use it for rational number, usually ending with the decimal figure as 1.0 or 3.14

print(type(0.0))
print(type(3.0))
print(type(3.1))
print(type(03.2))
print(type(-3.333))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
#STRINGS: Strings are collections of alphabets,words or other characters. In Python we cab create a string by enclosing in a sequence of characters within a pair of single or double quotes. Like :: 'Cake' , "cake".etc...

print(type('s'))
print(type('string'))
print(type("string"))
print(type('1.0'))
print(type("1.111"))
print(type('True'))
print(type('None'))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
#NONE: The None keyword is used to define a null value or no value at all. None is not the same as 0.False or an empty string. None is a data type of its own(None Type) and only None can be none

print(type(None))
type(print("World")) ##NoneType

<class 'NoneType'>
World

NoneType

In [25]:
#BOOLEAN: This is buit-in-data type. That can take up the values: True or False. Which often makes them interchangeable with the integers 1 and 0. Booleans are useful in conditional and comparison expressions

print(bool(True))
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool(1))
print(bool("text"))
print(bool(-1))
print(bool("-1"))
print(bool("0"))
print(bool(""))
print(bool(" "))
print(bool("1.3"))

True
False
False
False
True
True
True
True
True
False
True
True

In [33]:
# VARIABLES: It's a type of variables Rules for naming variables
# Name must start with Alphabet(small or caps) or underscore
# They are case sensitive. It can differentiate between small and caps

a = 33
print(a)
name = "unknowndevqa"
print(name)
print(type(name))
name = "unknowqa"
print(name)
A = 22
print(A)
_name = "unknownqa1"
print(_name)

33
unknowndevqa
<class 'str'>
unknowqa
22
unknownqa1

In [38]:
#TypeCasting

a = 13
print(type(a))
a = str(13)
print(type(a))
a = int(13)
print(type(a))

<class 'int'>
<class 'str'>
<class 'int'>

In [58]:
#PRINT ==> END, SEP

print("Anil","Simha","Tallapragada")
print("--------------------------")
print("Anil","Simha","Tallapragada",sep="---")
print("--------------------------")
print("Anil","Simha","Tallapragada",sep="\n")
print("--------------------------")
print("Anil"), print("Simha")
print("Tallapragada")
print("--------------------------")
print("Anil",end="***"), print("Simha", end = "***"), print("Tallapragada")
print("--------------------------")

Anil Simha Tallapragada
--------------------------
Anil---Simha---Tallapragada
--------------------------
Anil
Simha
Tallapragada
--------------------------
Anil
Simha
Tallapragada
--------------------------
Anil***Simha***Tallapragada
--------------------------

In [60]:
#INPUT: By default type of Input is String

a = input()
print(type(a))

2
<class 'str'>

In [66]:
b = int(input())
print(type(b))

2
<class 'int'>

In [69]:
c = float(input())
print(type(c))

2.23212
<class 'float'>

In [71]:
d = bool(input())
print(type(d))

0
<class 'bool'>

In [72]:
e = str(input())
print(type(e))

3
<class 'str'>

### Assignments

In [73]:
#Q1: Given two numbers A and B. Concatenate the two numbers and print it.



A = input()
B = input()
C = A+B
print(C)

1
2
12

In [74]:
#Q2: what will be the output of the following code?

x = 4
y = 2.0

print(x+y)

6.0

In [80]:
#Q3: which of the following will not raise a type TypeError in the following code?

x = 2.0
y = "2"
z = int(y)
#print(x+y) # Throws error as 'float' and 'str'
#print(y+z) #Throws error
print(x+z)

4.0

Q4: Your friend Rahul plans to visit exotic countries all around the world. Sadly, Rahul's math skills aren't good. He's pretty worried about being scammed by currency exchanges during his trip - and he wants you to make a currency calculator for him. Here are his specifications for the app:

Given the amount of money before exchange and the amount of money that is taken from the budget to be exchanged, print the amount of money that is left from the budget.

Input Format

First line contains an integer N denoting the total budget, amount of money before exchange.

Second line contains an integer M denoting the exchanging amount, denoting the amount of money that is taken from the budget to be exchanged.

In [83]:
N = int(input())
M = int(input())

balanceAmount = N - M
print(balanceAmount)

44
12
32

In [85]:
#Given two names A and B as input. Print "A says Hi to B". where A and B are the names in input.
name1 = (input())
name2 = (input())
print(name1 + ' says Hi to ' + name2 )

Anil
Simha
Anil says Hi to Simha

In [86]:
#Print the first five letters of the English alphabet i.e. A, B, C, D and E.
print("A")
print("B")
print("C")
print("D")
print("E")

A
B
C
D
E